body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-style: italic;
}

header {
    background-color: #69342f;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-style: italic;
}

main {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    font-style: italic;
    width: 100%;
}


.product1 {
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: calc(50% - 20px); /* Divide a largura em 50% menos o espaço entre as colunas */
    margin-bottom: 20px; /* Adiciona um espaço entre as linhas */
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.product1:hover {
    transform: scale(1.05);
}

.product1 img {
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product1 h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product1 p.description1 {
    margin-bottom: 10px;
}

.product1 span.price1 {
    font-weight: bold;
    font-size: 1.2em;
}

.comprar1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 255, 42);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid #69342f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comprar1:hover {
    background-color: #8aabdd;
}

.container-imagem img {
    transition: transform 0.3s ease;
}

.container-imagem img:hover {
    transform: scale(1.1);
}

.comprar1 {
    margin: 25px;
    padding: 10px 20px;
    border: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.container-botao1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fcfcfc;
    color: #fff;
    text-decoration: none;
    border: 1px solid #69342f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container-botao1:hover {
    background-color: #8aabdd;
}


@media screen and (min-width: 768px) {

    .product1 {
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
    }
    .header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
}